.my-link-container,
.my-link-container-list-drawer-three nav
.my-drawer-header-list-mine div span {
    color: var(--blue-4);
    text-decoration: none;
}

.my-link-container div div span:hover {
    color: var(--blue-4);
}