.pecclec-main-container {
  background-color: var(--gray-1);
  font-family: var(--roboto);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.pecclec-main-container .header-container-pecclec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  background-color: var(--white-1);
  padding: 1% 1%;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  margin: 3vh 0 5vh 0;
  text-align: center;
}
.pecclec-main-container .header-container-pecclec:hover {
  transform: scale(1.005);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.6);
}

.pecclec-main-container .header-container-pecclec h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue-4);
}

.pecclec-main-container .header-container-pecclec img {
  width: 15%;
}

.section-two-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firts-contact-container h2,
.section-two-videos .title {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  width: 70vw;
  color: var(--blue-4);
  box-sizing: border-box;
  background-color: var(--white-1);
  padding: 3vh 5vw;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.firts-contact-container h2:hover,
.section-two-videos .title:hover {
  transform: scale(1.005);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.6);
}

.pecclec-container {
  padding: 0vh 10vw calc(2vh + 120px) 10vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-pecclec {
  width: 350px;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.card-pecclec h1 {
  padding: 18% 5% 10% 5%;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--blue-4);
}

.card-pecclec iframe {
  width: 90%;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.card-pecclec iframe:hover {
  filter: brightness(0.8);
}

.card-container-pecclec {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: -120px;
  padding: 20px 10% 0 7.5%;
}

.splash-pecclec {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
}

.firts-contact-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.cards-container-fisrt-part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  box-sizing: border-box;
}

.swiper-slidee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  color: var(--white-1);
  padding: 5vh 10%;
  box-sizing: border-box;
  margin-bottom: 5vh;
  margin-top: 2.5vh;
}

.swiper-slidee h1 {
  font-weight: 600;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
  color: var(--white-1);
}

.swiper-slidee iframe {
  width: 100%;
  height: 50vh;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.swiper-slidee iframe:hover {
  filter: brightness(0.8);
}

.swiper-slidee p {
  padding-top: 1rem;
  color: var(--white-1);
}

.swiper-slidee:nth-child(1n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slidee:nth-child(2n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slidee:nth-child(3n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slidee:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

/* Mobile Phones And Tablets */
@media screen and (max-width: 1024px) {
  .pecclec-main-container .header-container-pecclec {
    width: 90vw;
    padding: 3vh 5%;
    margin-bottom: 3vh;
  }

  .pecclec-main-container .header-container-pecclec img {
    display: none;
  }

  .firts-contact-container h2,
  .section-two-videos .title {
    width: 90vw;
  }

  .firts-contact-container {
    width: 90%;
  }

  .cards-container-fisrt-part {
    width: 80%;
  }

  .swiper-slidee {
    padding: 4vh 5%;
    box-sizing: border-box;
    margin-bottom: 3vh;
  }

  .swiper-slidee iframe {
    height: 20vh;
  }
}