.cronos-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-1);
    font-family: var(--roboto);
    gap: 5vh 0;
    padding: 5vh 0;
}

.attention-to-failure,
.announcement-two-cronos-container,
.announcement-one-cronos-container,
.manual-container-cronos,
.cronos-sign-up-in-container {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-1);
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
    padding: 5vh 5%;
    transition: all 0.5s ease-in-out;
}

.cronos-sign-up-in-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attention-to-failure h1,
.announcement-two-cronos-container h1,
.announcement-one-cronos-container h1,
.manual-container-cronos h1,
.cronos-sign-up-in-container h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--blue-4);
    padding-bottom: 1.5rem;
}

.cronos-main-container div img {
    width: 100%;
    transition: all 0.3s ease;
    border-radius: 1rem;
}

.cronos-main-container div img:hover {
    filter: brightness(80%);
    transform: scale(1.005);
}

.attention-to-failure:hover,
.announcement-two-cronos-container:hover,
.announcement-one-cronos-container:hover,
.manual-container-cronos:hover,
.cronos-sign-up-in-container:hover {
    transform: scale(1.005);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.6);
}

.attention-to-failure div a,
.cronos-redirection-link {
    padding: 1rem 1rem;
    box-sizing: border-box;
    background-color: var(--blue-3);
    color: var(--white-1);
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.4);
    margin-top: 1rem;
}

.attention-to-failure div a:hover,
.cronos-redirection-link:hover {
    background-color: var(--blue-4);
    transform: scale(1.005);
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.6);
}

.manual-container-cronos iframe {
    width: 100%;
    height: 70vh;
    border-radius: 1rem;
}

.manual-container-cronos div {
    padding-top: 1rem;
    line-height: 1.5;
}

.cronos-main-container div p {
    padding-top: 0.5rem;
}   

.cronos-main-container div p a {
    text-decoration: none;
    color: var(--blue-4);
    font-weight: 600;
}

.cronos-main-container div p a:hover {
    text-decoration: underline;
}

.announcement-two-cronos-container div,
.announcement-one-cronos-container div {
    line-height: 1.5;
}

.attention-to-failure div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.attention-to-failure div iframe {
    width: 100%;
    height: 70vh;
    border-radius: 1rem;
}

.attention-to-failure div p {
    padding-bottom: 1rem;
}

.manual-container-cronos div,
.announcement-one-cronos-container div,
.announcement-two-cronos-container div,
.attention-to-failure div p {
    text-align: justify;
}


/* Mobile Phones And Tablets */
@media screen and (max-width: 1024px) {
    .cronos-main-container {
        gap: 3vh 0;
        padding: 3vh 0;
    }

    .attention-to-failure,
    .announcement-two-cronos-container,
    .announcement-one-cronos-container,
    .manual-container-cronos,
    .cronos-sign-up-in-container {
        width: 90vw;
        padding: 3vh 5%;
    }

    .attention-to-failure div iframe {
        height: 50vh;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .manual-container-cronos iframe {
        width: 100%;
        height: 50vh;
    }
}
