.footer-container {
    display: flex;
    flex-direction: column;
    background-color: var(--blue-3);
    font-family: var(--roboto);
    color: var(--white-1);
}

.first-footer-container {
    display: flex;
    flex-direction: column;
}

.info-cidtes-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: -8% 0;
}

.info-cidtes-container img {
    width: 40vw;
    height: auto;
}

.info-cidtes-container div {
    display: flex;
    flex-direction: column;
}

.info-cidtes-container div ul {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.info-cidtes-container div ul li svg {
    color: var(--white-1);
    font-size: 2rem;
    transition: all 0.5s ease;
    
}

.info-cidtes-container div ul li svg:hover {
    transform: scale(1.25);
}

.info-cidtes-container div h2 {
    font-size: 2rem;
    font-weight: 900;
}

.last-footer-info {
    background-color: var(--blue-4);
    border-top: 2px solid var(--white-1);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    color: var(--white-1);
    font-size: 1.25rem;
    font-weight: 900;
}

.footer-cidtes-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.footer-cidtes-container .general-info-container {
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.general-info-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.general-info-container ul {
    display: flex;
    flex-direction: column;
}

.general-info-container ul li {
    padding: 0.4rem 0;
    transition: all 0.5s ease;
}

.general-info-container ul li a:hover {
    color: var(--blue-4);
    text-decoration: underline;
}

.general-info-container ul li a {
    color: var(--white-1);
    text-decoration: none;
    font-size: 1.125rem;
}

.footer-cidtes-container .contact-info-container {
    width: 30vw;
}

.footer-cidtes-container .contact-container {
    background-color: var(--white-1);
    color: var(--black-1);
    width: 30vw;
    padding: 5vh 2vw;
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-info-container .information-cidtes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.contact-info-container .information-cidtes div h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.information-cidtes div ul {
    display: flex;
    flex-direction: column;
}

.information-cidtes div ul li {
    padding: 0.4rem 0;
    transition: all 0.5s ease;
    font-size: 1.125rem;
}

.information-cidtes div ul li a {
    display: flex;
    color: var(--white-1);
    text-decoration: none;
}

.information-cidtes div ul li a:hover {
    color: var(--blue-4);
    text-decoration: underline;
}

.information-cidtes div ul li a svg {
    padding-right: 0.5rem;
}

.location-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.location-container div {
    display: flex;
    padding-bottom: 1rem;
}

.location-container div svg {
    padding-right: 0.5rem;
}

.location-container div p {
    font-size: 1.125rem;
}

.location-container iframe {
    width: 100%;
    height: 40vh;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.footer-cidtes-container .contact-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

/* Mobile Phones And Tablets */
@media screen and (max-width: 1024px) {
    .info-cidtes-container {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 0;
    }
    
    .info-cidtes-container img {
        width: 40vw;
    }

    .contact-info-container .information-cidtes {
        flex-direction: column;
    }

    .footer-cidtes-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-cidtes-container .general-info-container,
    .footer-cidtes-container .contact-info-container {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 10vw;
        box-sizing: border-box;
    }

    .footer-cidtes-container .contact-info-container .information-cidtes div {
        padding-top: 2rem;
    }

    .contact-info-container .information-cidtes,
    .location-container {
        padding-bottom: 2rem;
    }

    .footer-cidtes-container .contact-container {
        width: 88vw;
        justify-content: center;
        align-items: center;
        padding: 3vh 3vh;
    }
}