/*
 * Fuentes o tipografia de la aplicacion, se importan desde google fonts.
 * 1.- Roboto.
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Fuentes para alcance) global. */
    --roboto: 'Roboto', sans-serif;


    --white-1: #FFFFFF;
    --black-1: #000000;
    --black-2: #12130F;

    --purple-1: #6a1b9a;

    --green-1: #4caf50;
    --green-2: #5B9278;

    --blue-1: #006989;
    --blue-2: #007090;
    --blue-3: #77A6B6;
    --blue-4: #4D7298;

    --gray-1: #F9F9F9;
    --gray-2: #E0E0E0;

    --red-1: #FF5733;
    --red-2: #C70039;
}

* {
    font-family: var(--roboto);
}