.list-item-header-title-mine-drawer-two span {
    color: var(--blue-4);
}

.list-item-item-button-drawer-two {
    text-decoration: none;
}

.list-item-item-button-drawer-two div div {
    color: var(--blue-3);
}